name: Deploy Frontend application to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to Server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DO_USER }}@${{ secrets.DO_SERVER }} << 'EOF'
            cd /var/www/misoulmate
            git pull origin main
            npm install
            npm run build

            # Clean out old files and copy new dist build
            sudo rm -rf /var/www/html/*
            sudo cp -r dist/* /var/www/html/

            sudo systemctl restart nginx
          EOF

